body{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}

@media only screen and (max-width: 600px){
    header h1{
        padding-top: 30px;
        word-break: break-all;
        font-size: 30px;
    }
    .responsive-footer{
       margin: 64px; 
    }
    
    .thank-you h3{
        word-break: break-all;
        font-size: 20px;
    }
    .email h3{
        word-break: break-all;
        font-size: 20px;
    }
    /* targets photos in project sections */
    .mockup figure{
        width: 200px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 599px){
    header{
        text-align: center
    }
    .profile img{
        width: 300px;
    }
    .intro a{
        margin-bottom: 10px;
    }
    .project{
        text-align: center;
    }
    .mockup figure{
        display: block;
        margin: 0 auto;
    }
    /* .padding{
        padding: 40px;
    }
    .padding h2, p{
        text-align: center;
    } */
    .responsive-footer h3{
        font-size: 16px;
    }
    .responsive-footer p{
        font-size: 10px;
    }
}


body, ul{
    margin: 0;
    padding: 0;
}

h1,h2, h3, .skills-list{
    font-family: 'Inknut Antiqua', serif;
}

img{
    /* this is limiting the width of the image
    so it takes 100% width of the parent maximum */
    max-width: 100%;
}

nav {
    background-color: #DBEBF4; 
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul li{
    display: inline-block;
    /* 0 refers to top and bottom
    15px refers to left and right */
    margin: 0 15px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

li.empty{
    width: 90px;
    border-top: 1px solid black;
    top: -5px;
    position: relative;
}

nav ul{
    margin: 0, auto;
    text-align: center;
    padding: 30px;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    text-decoration: underline;
}


header{
    top: 50px;
    /* positioned relative to its normal position */
    position: relative;
    margin-bottom: 120px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    /* stretching background to fill container */
    background-size: cover;
    /* position a background-image on y-axis */
    background-position-y: -125px;
}

h1{
    font-size: 83px;
    line-height: 120%;
}

h2{
    font-size: 30px;
    line-height: 130%;
}

h1, h2, h3{
    font-weight: normal;
}

p{
    line-height: 150%;
}

header ul li{
    list-style-type: none;
    margin: 10px 0;
}

.button{
    border: 1.80px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    /* margin top can't work w/out inline-block */
    margin-top: 10px;
    display: inline-block;
    border-radius: 20px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover{
    background-color: black;
    color: white;
}

.intro-image{
    /* x-axis, y-axis, blurry, color */
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.201);
    margin-top: 30px;
    margin-bottom: 10px;
}

/* .skills-list{
    text-align: center;
    font-size: 70px;
} */

.project{
    margin: 30px 0;
    padding: 50px;
}

.blue{
    background-color: #DBEBF4;
}

.project .button{
    margin-top: 10px;
}


footer{
    text-align: center;
    margin: 100px;
}

footer h3{
    font-size: 30px;
    margin: 0;
}

.email a{
    text-decoration: none;
    color: black;
}

.email a:hover{
    text-decoration: underline;
}

.right-alignment{
    text-align: right;
}
